sudo: false
language: python
cache: pip
python:
  - "3.6"
env:
  - BASEDIR="https://raw.githubusercontent.com/open-contracting/standard-maintenance-scripts/master"
matrix:
  include:
    - SPHINX_VERSION=1.6.1
    - SPHINX_VERSION=1.7.0
    - SPHINX_VERSION=1.8.0
    - SPHINX_VERSION=2.0.0
    - SPHINX_VERSION=2.1.0
    - SPHINX_VERSION=2.2.0
install:
  - curl -s -S --retry 3 $BASEDIR/tests/install.sh | bash -
  - pip install .[test]
  - pip install Sphinx==$SPHINX_VERSION
  - pip install -e git+https://github.com/jpmckinney/commonmark-py.git@hotfix#egg=recommonmark -e git+https://github.com/jpmckinney/recommonmark.git@hotfix#egg=recommonmark
script:
  - curl -s -S --retry 3 $BASEDIR/tests/script.sh | bash -
  - pytest --cov ocds_babel
after_success:
  coveralls
